.c-content__top {
    width: 100%;
    height: 500px;
    background: #FFFFDD;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}


//topページのコンテンツ　ここに
.c-topContents {
    background: #EEEEEE;
    width: 100%;
    height: 600px; //TODO　消すこと
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}